# Python 3.8.17
# Usage: pip install -r requirements.txt

# If you are using Jupyther in Vscode you might also need to use below command to install ipykernel package:
# conda install -n [Your env name] ipykernel --update-deps --force-reinstall

# for first method
opencv-python-headless
retina-face
matplotlib

# for second method
torch
pandas
torchvision
PyYAML
ultralytics
gitpython

# for user interface
ipywidgets